{% load crispy_forms_tags %}

<form method="get" class="row g-3">
    {% for field in filter.form %}
        <div class="col-md-3">
            {{ field|as_crispy_field }}
        </div>
    {% endfor %}
    <div class="col-12">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-search"></i>
            Filter
        </button>
        <a href="{% url 'inventory:software_list' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-clockwise"></i>
            Clear
        </a>
    </div>
</form>
